* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #347474;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divMenu {
    margin: auto 0;
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.divMenu button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    text-align: center;
    background-color: #f8d8b7;
    color: #347474;
    font-size: 30px;
    border-radius: 10px;
}